@page "/account"
@inherits AccountBase

@inject ISnackbar Snackbar
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations

<MudText Typo="Typo.h5" Color="Color.Primary" Class="mb-4">Account</MudText>
<MudTabs Elevation="1" Rounded="true" PanelClass="mt-6">
    <MudTabPanel Text="General">
        <MudGrid>
            @*           <MudItem xs="12" sm="4" md="3">
            <MudCard >
            <MudCardHeader>
            <CardHeaderContent>
            <MudText>Public Profile</MudText>
            </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
            <div class="d-flex justify-center mb-4">
            <MudAvatar Image="@AvatarImageLink" Style="height:100px; width:100px;">
            @if(AvatarImageLink == null)
            {
            <MudIcon Icon="@AvatarIcon" Size="Size.Large"></MudIcon>
            }
            </MudAvatar>
            </div>
            <MudText Align="Align.Center">@FirstName @LastName</MudText>
            <MudText Align="Align.Center">@JobTitle</MudText>
            </MudCardContent>
            <MudCardActions Class="d-flex justify-center">
            <MudButton OnClick="DeletePicture" Color="@AvatarButtonColor">@AvatarButtonText</MudButton>
            </MudCardActions>
            </MudCard>
            </MudItem>*@
            <MudItem xs="12">
                <MudCard>
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText>Profile Details</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudGrid>
                            <MudItem xs="12" md="6">
                                <MudTextField @bind-Value="ChangeProfileDetailsRequest.FirstName"
                                              Label="First Name"
                                              Variant="Variant.Outlined"
                                              Required="true" />
                            </MudItem>
                            <MudItem xs="12" md="6">
                                <MudTextField @bind-Value="ChangeProfileDetailsRequest.LastName"
                                              Label="First Name"
                                              Variant="Variant.Outlined"
                                              Required="true" />
                            </MudItem>
                            <MudItem xs="12" md="6">
                                <MudDatePicker Label="Birth Date"
                                               @bind-Date="ChangeProfileDetailsRequest.BirthDate"
                                               DisableToolbar="true"
                                               Variant="Variant.Outlined" />
                            </MudItem>
                            <MudItem xs="12" md="6">
                                @*<MudTextField @bind-Value="Email" Label="Email" Variant="Variant.Outlined" HelperText="Dont worry, we shall not spam!" InputType="InputType.Email" />*@
                            </MudItem>
                        </MudGrid>
                    </MudCardContent>
                    <MudCardActions Class="pb-4 pl-4">
                        <MudButton Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   Class="ml-auto"
                                   OnClick="UpdateProfile">
                            Save Changes
                        </MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
        </MudGrid>
    </MudTabPanel>
    <MudTabPanel Text="Security">
        <MudForm>
            <MudCard>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText>Change Password</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudGrid>
                        <MudItem xs="12" md="6">
                            <MudTextField T="string"
                                          Label="Password"
                                          Variant="Variant.Outlined"
                                          InputType="InputType.Password"
                                          Required="true"
                                          @bind-Value="ChangePasswordRequest.NewPassword" />
                        </MudItem>
                        <MudItem xs="12" md="6">
                            <MudTextField T="string"
                                          Label="Password Confirmation"
                                          Variant="Variant.Outlined"
                                          InputType="InputType.Password"
                                          Required="true"
                                          @bind-Value="ChangePasswordRequest.ConfirmPassword" />
                        </MudItem>
                        <MudItem xs="12">
                            <MudTextField T="string"
                                          Label="Current Password"
                                          Variant="Variant.Outlined"
                                          InputType="InputType.Password"
                                          Required="true"
                                          @bind-Value="ChangePasswordRequest.CurrentPassword" />
                        </MudItem>
                    </MudGrid>
                </MudCardContent>
                <MudCardActions Class="pb-4 pl-4">
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Primary"
                               Class="ml-auto"
                               OnClick="ChangePassword">
                        Change Password
                    </MudButton>
                </MudCardActions>
            </MudCard>
        </MudForm>
    </MudTabPanel>
</MudTabs>