@inherits MainLayoutBase

<MudThemeProvider Theme="@DefaultTheme" @ref="@MudThemeProvider" @bind-IsDarkMode="@IsDarkMode" />
<MudDialogProvider Position="DialogPosition.TopCenter" MaxWidth="MaxWidth.ExtraSmall" CloseButton="true" CloseOnEscapeKey="true" />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudSpacer />
        <MudIconButton Icon="@(IsDarkMode ? @Icons.Filled.WbSunny : @Icons.Filled.Brightness4)" Color="Color.Inherit" OnClick="DarkModeToggle" />
        <AuthorizeView>
            <Authorized>
                <MudMenu Direction="Direction.Left" OffsetX="true" Dense="true" Class="mt-1 ml-4">
                    <ActivatorContent>
                        <MudAvatar Class="bg-dark-pink" style="width: 34px; height: 34px;">@FirstLetterOfFirstName</MudAvatar>
                    </ActivatorContent>
                    <ChildContent>
                        <PersonCard Class="mt-n2"
                                    FirstLetterOfFirstName="@FirstLetterOfFirstName"
                                    FullName="@FullName"
                                    Role="@Role" />
                        <MudDivider Class="mb-2" />
                        <div class="d-flex align-center">
                            <MudListItem Text="Account"
                                         Icon="@Icons.Material.Outlined.Person"
                                         Href="/account"
                                         Class="" />
                        </div>
                        <div class="d-flex align-center">
                            <MudIconButton OnClick="Logout"
                                           Icon="@Icons.Material.Outlined.Logout" style="width: 62px" />
                            <span style="margin-left: 10px">Log Out</span>
                        </div>
                    </ChildContent>
                </MudMenu>
            </Authorized>
            <NotAuthorized>
                <MudTooltip Text="Login">
                    <MudIconButton OnClick="Login"
                                   Icon="@Icons.Material.Outlined.Login" />
                </MudTooltip>
            </NotAuthorized>
        </AuthorizeView>
    </MudAppBar>
    <MudDrawer @bind-Open="IsDrawerOpened" Elevation="1" ClipMode="DrawerClipMode.Never">
        <MudDrawerHeader Class="justify-center">
            <MudIcon Icon="@Icons.Filled.Message" Size="Size.Large" />
        </MudDrawerHeader>
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="my-4">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>